:root {
  --primary-font-family: "Poppins", sans-serif;

  --secondary-font-family: "Playfair Display", serif;
  --box-shadow: 0 5px 10px rgba(255, 255, 255, 0.8);
  --primary-font-color: #bd3246;
  --secondary-color: #8d0033;
}

body {
  background: #ffebbb;
  color: #e0ffcd;
  font-family: var(--primary-font-family);
  color: var(--primary-font-color);
}

.hero {
  background: #fdffcd;
  text-align: center;
  padding: 130px 150px;
}

h1 {
  font-family: var(--secondary-font-family);
  text-align: center;
  margin: 30px;
  font-weight: 900;
  font-size: 96px;
}

.hero p {
  text-align: center;
  font-family: var(--primary-font-family);
  font-size: 38px;
}

.btn-know-me {
  background: var(--secondary-color);
  color: white;
  border-radius: 100px;
  font-size: 18px;
  line-height: 27px;
  padding: 15px, 30px;
  width: fit-content;
  margin-top: 20px;
}

.btn-branding {
  background: var(--branding-color);
  border-radius: 100px;
  color: white;
  font-size: 18px;
  font-family: var(--default-font-family);
  line-height: 27px;
  padding: 15px 30px;
  width: fit-content;
  margin-top: 20px;
}
