body {
  background: grey;
  color: white;
  font-family: poppins;
}

h1 {
  text-align: center;
  margin: 30px;
  font-weight: 700;
}

p {
  text-align: center;
  font-family: playfair;
  font-size: 20px;
  font-style: italic;
}
